:root {
    --background-color: #EEE;
    --container-color: #DDD;
    --post-color: var(--container-color);
    --post-target-color: #BBB;
    --post-form-color: var(--post-color);
    --label-color: var(--post-target-color);
    --bar-header-color: var(--post-target-color);
    --table-header-color: var(--post-target-color);
    --table-row-color: var(--background-color);
    --scrollbar-color: #666;
    --scrollbar-background-color: var(--post-target-color);
    --topbar-color: #98E;
    --system-link-color: #EEE;
    --board-link-color: #DDD;
    --border-color: #000;
    --post-target-border-color: var(--border-color);
    --text-color: #333;
    --bold-color: var(--text-color);
    --button-background-color: #F0F0F0;
    --button-color: #000;
    --textarea-background-color: #FFF;
    --textarea-color: var(--text-color);
    --link-color: #666;
    --title-color: #E44;
    --subtitle-color: #E00;
    --post-name-color: #174;
    --post-subject-color: #016;
    --post-date-color: var(--text-color);
    --post-capcode-color: #26A;
    --post-link-color: #D00;
    --post-number-color: var(--link-color);
    --post-number-hover-color: #F33;
    --greentext-color: #792;
    --pinktext-color: #D78;
    --kiketext-color: #36A;
    --kiketext-background-color: #F8F8F8;
    --redtext-color: #E33;
    --spoiler-color: #000;
    --spoiler-hover-color: #FFF;
    --code-color: var(--post-target-color);
}
