body {
    background-color: #222;
    color: #FFF;
}

a, a:visited {
    color: #03A9F4;
}

nav#topbar {
    background-color: #333;
    border-bottom-color: #777;
}

h1.redheader, h1#boardtitle, div.catalog-thread-subject, div.post-header span.post-subject, span.redtext {
    color: #F44336;
}

h2#boardsubtitle, div.catalog-thread-lastbumpdate, div.post-header span.post-date {
    color: #FFC107;
}

div.container, div.post, div.catalog-thread, form#postform {
    background-color: #333;
    border-color: #777;
}

h2.barheader, tr:nth-child(odd)  {
    background-color: #444;
}

th {
    background-color: #222;
}

form input, form textarea {
    background-color: #444;
    color: #FFF;
    border-color: #777;
}

hr {
    border-bottom-color: #777;
}

div.catalog-thread {
    scrollbar-color: #777 #333;
}

div.post-container:target div.post {
    border-color: #03A9F4;
}

div.post-header span.post-name {
    color: #8BC34A;
}

div.post-header span.post-capcode {
    color: #BA68C8;
}

span.greentext {
    color: #4CAF50;
}

span.pinktext {
    color: #EC407A;
}

span.kiketext {
    background-color: #FFF;
    color: #33D;
}

span.spoiler {
    background-color: #000;
    color: #000;
}

span.spoiler:hover {
    color: #FFF;
}

code, span.code {
    background-color: #222;
    border-color: #777;
}
