:root {
    --background-color: #DFE;
    --container-color: #CED;
    --post-color: #BDC;
    --post-target-color: #9BA;
    --post-form-color: var(--post-color);
    --label-color: #ACB;
    --bar-header-color: var(--label-color);
    --table-header-color: var(--label-color);
    --table-row-color: var(--post-color);
    --scrollbar-color: var(--post-target-color);
    --scrollbar-background-color: var(--label-color);
    --topbar-color: var(--container-color);
    --system-link-color: var(--link-color);
    --board-link-color: var(--link-color);
    --border-color: #000;
    --post-target-border-color: var(--border-color);
    --text-color: #000;
    --bold-color: var(--text-color);
    --button-background-color: #F0F0F0;
    --button-color: var(--text-color);
    --textarea-background-color: #FFF;
    --textarea-color: var(--text-color);
    --link-color: #05A;
    --title-color: #C22;
    --subtitle-color: #800;
    --post-name-color: #070;
    --post-subject-color: #016;
    --post-date-color: var(--text-color);
    --post-capcode-color: #F22;
    --post-link-color: #C00;
    --post-number-color: var(--text-color);
    --post-number-hover-color: #B11;
    --greentext-color: #070;
    --pinktext-color: #A66;
    --kiketext-color: #33D;
    --kiketext-background-color: #FFF;
    --redtext-color: #E33;
    --spoiler-color: #000;
    --spoiler-hover-color: #FFF;
    --code-color: var(--post-target-color);
}
