body {
    background-color: #DFE;
    color: #000;
}

a, a:visited {
    color: #05A;
}

nav {
    background-color: #CED;
    border-bottom-color: #000;
}

h1.redheader, h1#boardtitle {
    color: #C22;
}

h2#boardsubtitle {
    color: #800;
}

div.container {
    background-color: #CED;
    border-color: #000;
}

h2.barheader, th, form label {
    background-color: #ACB;
}

tr:nth-child(odd) {
    background-color: #BDC;
}

form input, form input[type=file]::file-selector-button, form select, form textarea {
    border-color: #000;
}

div.post, div.catalog-thread, form#postform {
    background-color: #BDC;
    border-color: #000;
}

hr {
    border-bottom-color: #000;
}

div.catalog-thread {
    scrollbar-color: #9BA #ACB;
}

div.post-container:target div.post {
    background-color: #9BA !important;
}

div.catalog-thread-subject, div.post-header span.post-subject {
    color: #016;
}

div.post-header span.post-name, span.greentext {
    color: #070;
}

div.post-header span.post-capcode {
    color: #F22;
}

div.post-header span.post-number a {
    color: #000;
}

div.post-header span.post-number a:hover {
    color: #B11;
}

div.post-comment a, div.catalog-thread-comment a {
    color: #C00;
}

span.pinktext {
    color: #A66;
}

span.kiketext {
    background-color: #FFF;
    color: #33D;
}

span.redtext {
    color: #E33;
}

span.spoiler {
    background-color: #000;
    color: #000;
}

span.spoiler:hover {
    color: #FFF;
}

code {
    border-color: #000;
}

span.code {
    box-shadow: inset 0 0 0 1px #000;
}

code, span.code {
    background-color: #9BA;
}
