body {
    background-color: #222;
    color: #FFF;
}

a, a:visited {
    color: #03A9F4;
}

nav {
    background-color: #333;
    border-bottom-color: #777;
}

.header, .catalog-thread-subject, .post-subject, .redtext {
    color: #F44336;
}

.subheader, .catalog-thread-lastbumpdate, .post-date {
    color: #FFC107;
}

.container, .post, .catalog-thread, #postform {
    background-color: #333;
    border-color: #777;
}

.barheader, tr:nth-child(odd)  {
    background-color: #444;
}

th {
    background-color: #222;
}

hr {
    border-bottom-color: #777;
}

form input, form input[type=file]::file-selector-button, form select, form textarea {
    background-color: #444;
    color: #FFF;
    border-color: #777;
}

.catalog-thread {
    scrollbar-color: #777 #333;
}

.post-container:target .post {
    border: 1px solid #03A9F4 !important;
}

.post-container:target .thread {
    background-color: #333 !important;
}

.post-name {
    color: #8BC34A;
}

.post-capcode {
    color: #BA68C8;
}

.greentext {
    color: #4CAF50;
}

.pinktext {
    color: #EC407A;
}

.kiketext {
    background-color: #FFF;
    color: #33D;
}

.spoiler {
    background-color: #000;
    color: #000;
}

.spoiler:hover {
    color: #FFF;
}

code, .code {
    background-color: #222;
}

code {
    border-color: #777;
}

.code {
    box-shadow: inset 0 0 0 1px #777;
}
