body {
    background-color: #DFE;
    color: #000;
}

a, a:visited {
    color: #05A;
}

nav {
    background-color: #CED;
    border-bottom-color: #000;
}

.redheader, #boardtitle {
    color: #C22;
}

#boardsubtitle {
    color: #800;
}

.container {
    background-color: #CED;
    border-color: #000;
}

.barheader, th, form label {
    background-color: #ACB;
}

tr:nth-child(odd) {
    background-color: #BDC;
}

hr {
    border-bottom-color: #000;
}

form input, form input[type=file]::file-selector-button, form select, form textarea {
    border-color: #000;
}

.post, .catalog-thread, #postform {
    background-color: #BDC;
    border-color: #000;
}

.catalog-thread {
    scrollbar-color: #9BA #ACB;
}

.post-container:target .post {
    background-color: #9BA !important;
}

.catalog-thread-subject, .post-subject {
    color: #016;
}

.post-name, .greentext {
    color: #070;
}

.post-capcode {
    color: #F22;
}

.post-number a {
    color: #000;
}

.post-number a:hover {
    color: #B11;
}

.post-comment a, .catalog-thread-comment a {
    color: #C00;
}

.pinktext {
    color: #A66;
}

.kiketext {
    background-color: #FFF;
    color: #33D;
}

.redtext {
    color: #E33;
}

.spoiler {
    background-color: #000;
    color: #000;
}

.spoiler:hover {
    color: #FFF;
}

code, .code {
    background-color: #9BA;
}

code {
    border-color: #000;
}

.code {
    box-shadow: inset 0 0 0 1px #000;
}
