:root {
    --background-color: #222;
    --container-color: #333;
    --post-color: var(--container-color);
    --post-target-color: var(--post-color);
    --post-form-color: var(--post-color);
    --label-color: var(--container-color);
    --bar-header-color: #444;
    --table-header-color: var(--background-color);
    --table-row-color: var(--bar-header-color);
    --scrollbar-color: var(--post-target-color);
    --scrollbar-background-color: var(--label-color);
    --topbar-color: var(--container-color);
    --system-link-color: var(--link-color);
    --board-link-color: var(--link-color);
    --border-color: #777;
    --post-target-border-color: #03A9F4;
    --text-color: #FFF;
    --bold-color: var(--text-color);
    --button-background-color: var(--bar-header-color);
    --button-color: var(--text-color);
    --textarea-background-color: var(--bar-header-color);
    --textarea-color: var(--text-color);
    --link-color: var(--post-target-border-color);
    --title-color: #F44336;
    --subtitle-color: #FFC107;
    --post-name-color: #8BC34A;
    --post-subject-color: var(--title-color);
    --post-date-color: var(--subtitle-color);
    --post-capcode-color: #BA68C8;
    --post-link-color: var(--link-color);
    --post-number-color: var(--link-color);
    --post-number-hover-color: var(--link-color);
    --greentext-color: #4CAF50;
    --pinktext-color: #EC407A;
    --kiketext-color: #33D;
    --kiketext-background-color: #FFF;
    --redtext-color: var(--title-color);
    --spoiler-color: #000;
    --spoiler-hover-color: #FFF;
    --code-color: var(--background-color);
}
