body {
    background-color: #EEE;
    color: #333;
}

a, a:visited {
    color: #666;
}

nav {
    background-color: #98E;
    border-bottom-color: #000;
}

nav a[accesskey] {
    color: #EEE;
}

nav a[title] {
    color: #DDD;
}

.header {
    color: #E44;
}

.subheader {
    color: #E00;
}

.container, .post, .catalog-thread, #postform {
    background-color: #DDD;
    border-color: #000;
}

.barheader, th, form label {
    background-color: #BBB;
}

tr:nth-child(odd) {
    background-color: #EEE;
}

hr {
    border-bottom-color: #000;
}

form input, form input[type=file]::file-selector-button, form select, form textarea {
    border-color: #000;
}

.catalog-thread {
    scrollbar-color: #666 #BBB;
}

.post-container:target .post {
    background-color: #BBB !important;
}

.catalog-thread-subject, .post-subject {
    color: #016;
}

.post-name {
    color: #174;
}

.post-capcode {
    color: #26A;
}

.post-number a:hover {
    color: #F33;
}

.post-comment a, .catalog-thread-comment a {
    color: #D00;
}

.greentext {
    color: #792;
}

.pinktext {
    color: #D78;
}

.kiketext {
    background-color: #F8F8F8;
    color: #36A;
}

.redtext {
    color: #E33;
}

.spoiler {
    background-color: #000;
    color: #000;
}

.spoiler:hover {
    color: #FFF;
}

code, .code {
    background-color: #BBB;
}

code {
    border-color: #000;
}

.code {
    box-shadow: inset 0 0 0 1px #000;
}
