:root {
    --background-color: #111;
    --container-color: #222;
    --post-color: var(--container-color);
    --post-target-color: #333;
    --post-form-color: var(--post-color);
    --label-color: var(--post-target-color);
    --bar-header-color: var(--post-target-color);
    --table-header-color: #444;
    --table-row-color: var(--post-target-color);
    --scrollbar-color: var(--table-header-color);
    --scrollbar-background-color: var(--post-target-color);
    --topbar-color: var(--container-color);
    --system-link-color: var(--link-color);
    --board-link-color: var(--link-color);
    --border-color: #000;
    --post-target-border-color: var(--border-color);
    --text-color: #DDD;
    --bold-color: #FFF;
    --button-background-color: #F0F0F0;
    --button-color: #000;
    --textarea-background-color: #FFF;
    --textarea-color: var(--text-color);
    --link-color: #5CF;
    --title-color: #E44;
    --subtitle-color: #E00;
    --post-name-color: #0D0;
    --post-subject-color: #28F;
    --post-date-color: var(--text-color);
    --post-capcode-color: #F22;
    --post-link-color: #F33;
    --post-number-color: var(--text-color);
    --post-number-hover-color: #F33;
    --greentext-color: #0C0;
    --pinktext-color: #F64;
    --kiketext-color: #33D;
    --kiketext-background-color: #FFF;
    --redtext-color: #E33;
    --spoiler-color: #000;
    --spoiler-hover-color: #FFF;
    --code-color: var(--table-header-color);
}
