body {
    background-color: #111;
    color: #DDD;
}

b {
    color: #FFF;
}

a, a:visited {
    color: #5CF;
}

nav {
    background-color: #222;
    border-bottom-color: #000;
}

.header {
    color: #E44;
}

.subheader {
    color: #E00;
}

.container, .post, .catalog-thread, #postform {
    background-color: #222;
    border-color: #000;
}

.barheader, tr:nth-child(odd), form label {
    background-color: #333;
}

th {
    background-color: #444;
}

hr {
    border-bottom-color: #000;
}

form input, form input[type=file]::file-selector-button, form select, form textarea {
    border-color: #000;
}

.catalog-thread {
    scrollbar-color: #444 #333;
}

.post-container:target .post {
    background-color: #333 !important;
}

.catalog-thread-subject, .post-subject {
    color: #28F;
}

.post-name {
    color: #0D0;
}

.post-capcode {
    color: #F22;
}

.post-number a {
    color: #DDD;
}

.post-number a:hover, .post-comment a, .catalog-thread-comment a {
    color: #F33;
}

.greentext {
    color: #0C0;
}

.pinktext {
    color: #F64;
}

.kiketext {
    background-color: #FFF;
    color: #33D;
}

.redtext {
    color: #E33;
}

.spoiler {
    background-color: #000;
    color: #000;
}

.spoiler:hover {
    color: #FFF;
}

code, .code {
    background-color: #444;
}

code {
    border-color: #000;
}

.code {
    box-shadow: inset 0 0 0 1px #000;
}
