body {
    margin: calc(1.5em + 1.8ch + 1px) 1.3ch 1.3ch 1.3ch;
    font-family: monospace;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 0.25ch 1.5ch;
    width: 100%;
    line-height: 1.5;
}

nav a.system {
    font-weight: bold;
}

nav span#logged-in-notification {
    float: right;
    margin-right: 3ch;
}

nav:not(:hover):not(:focus-within) {
    white-space: nowrap;
}

img#banner {
    display: block;
    margin: auto;
}

h1.redheader, h1#boardtitle {
    margin-top: 5px;
    text-align: center;
}

h1#boardtitle a {
    color: inherit;
}

h2#boardsubtitle {
    margin-top: -15px;
    text-align: center;
    font-weight: normal;
    font-size: 10pt;
}

div#announce {
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 13pt;
}

div.container {
    margin: auto;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
}

div.container.narrow {
    max-width: 650px;
}

div.container.wide {
    max-width: 1150px;
}

h2.barheader {
    margin-right: -10px;
    margin-left: -10px;
    padding-left: 10px;
    font-size: 12pt;
}

div.container ul {
    padding-left: 16px;
    list-style: none;
}

div.container ul > li::before {
    padding-right: 8px;
    content: "*";
}

table {
    width: 100%;
    border-spacing: 2px;
}

th {
    text-align: left;
    font-weight: bold;
}

th, td {
    padding: 3px 5px;
}

form label {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 3px 5px;
    min-width: 18ch;
    vertical-align: top;
}

form input,
form input[type=file]::file-selector-button {
    font-family: inherit;
}

form input[type=text],
form input[type=password],
form input[type=number],
form input[type=checkbox],
form input[type=submit],
form input[type=file]::file-selector-button,
form select,
form textarea {
    border-width: 1px;
    border-style: solid;
}

form textarea {
    resize: both;
}

form input[type=radio] {
    margin-left: 18ch;
    vertical-align: middle;
}

form input[type=radio] + label {
    margin-bottom: 8px;
    padding: 8px;
    vertical-align: middle;
}

form input[type=radio] + label > img {
    display: block;
    max-height: 100px;
}

div.post-container + form {
    margin-top: 5px;
}

form#postform {
    display: none;
    position: fixed;
    top: calc(1.5em + 1.8ch + 1px);
    right: 1.3ch;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    max-width: calc(100% - 3.9ch - 3px);
}

form#postform:target {
    display: block;
}

form#postform a.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    font-weight: bold;
}

form#postform label {
    width: 7ch;
    min-width: min-content;
}

form#postform textarea {
    margin: 0 0 5px 0;
    width: calc(100% - 7ch - 25px);
    min-width: calc(100% - 7ch - 25px);
    max-width: calc(100% - 7ch - 25px);
}

form#postform input[type=submit] {
    margin-left: 5px;
}

form#postform input[type=file] {
    margin-right: 5px;
    max-width: 300px;
    vertical-align: top;
}

a#new-post {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 15pt;
}

hr {
    clear: both;
    margin-top: 1.3ch;
    margin-bottom: 1.3ch;
    border: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

div.catalog-container {
    text-align: center;
}

div.catalog-thread {
    display: inline-block;
    margin-right: 1.3ch;
    margin-bottom: calc(1.3ch - 4px);
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    width: 150px;
    height: 200px;
    overflow: auto;
    scrollbar-width: thin;
}

div.catalog-thread-info, div.catalog-thread-subject {
    font-weight: bold;
}

div.catalog-thread-lastbumpdate {
    font-size: 7.5pt;
}

div.index-thread span.index-thread-summary {
    margin-left: 1.3ch;
}

div.post-container {
    margin-top: calc(-1.5em - 0.5ch - 1px);
    padding-top: calc(1.5em + 0.5ch + 1px);
}

div.post {
    display: table;
    margin-top: 1.3ch;
    border-width: 1px;
    border-style: solid;
    padding: 1.3ch;
}

div.thread {
    display: block;
    background: none !important;
    margin-top: 0;
    border: none;
}

div.post-container:target div.thread {
    display: table;
    margin-top: 1.3ch;
}

div.post-header span.post-thread-link,
div.post-header span.post-subject,
div.post-header span.post-name {
    font-weight: bold;
}

div.post-header span.post-number a {
    text-decoration: none;
}

div.post-header a.referrer, div.post-attachment-info {
    font-size: 7.5pt;
}

div.post-attachment {
    display: inline-block;
    margin-right: 1.3ch;
    margin-bottom: 1.3ch;
}

div.post-attachment-info {
    margin-bottom: 1.3ch;
}

div.post-attachment-info > a:first-child {
    display: inline-block;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.post-attachment-info > a:first-child:hover {
    max-width: 100%;
}

img.post-thumbnail, :not(img).post-file, div.post-attachment-single img.post-file {
    float: left;
}

img.post-thumbnail, .post-file {
    margin-right: 1.3ch;
    margin-bottom: 1.3ch;
}

img.post-thumbnail {
    cursor: pointer;
}

img.post-file {
    display: none;
    max-width: 100%;
    cursor: pointer;
}

input[type=checkbox]:checked + img.post-thumbnail {
    display: none;
}

input[type=checkbox]:checked + img.post-thumbnail + img.post-file {
    display: block;
}

video.post-file {
    max-width: 320px;
    max-height: 240px;
}

div.post-comment, div.catalog-thread-comment {
    display: block;
    margin: 1.3ch 1.3ch 0.7ch 1.3ch;
    max-width: 150ch;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

div.post-comment a, div.catalog-thread-comment a {
    text-decoration: underline;
}

span.redtext {
    letter-spacing: -0.7px;
    font-weight: bolder;
    font-size: 11pt;
}

span.spoiler {
    cursor: none;
}

code {
    margin-top: 1ch;
    margin-bottom: 1ch;
    border-width: 1px;
    border-style: solid;
    padding: 1ch;
}

span.code {
    padding-right: 0.5ch;
    padding-left: 0.5ch;
}

code, span.code {
    display: inline-block;
    max-width: max-content;
}

div.page-switcher {
    text-align: center;
}

.invisible {
    display: none;
}

.float-right {
    float: right;
}
